.page {
    background-color: #22212C;
    display: flex;
}

.card {
    display: flex;
    flex-direction: column;
    background-color: #302F3D;
    border-radius: 20px;
    margin: 10px;
    width: 348px;
}

.avatar {
    width: 128px;
    height: 128px;
    border-radius: 100%;
    border: 2px solid;
    border-color: #00FF00;
    margin: 20px auto;
}