.icons {
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding: 20px;
}

.tecnologias p {
    background-color: #CB92B1;
    border-radius: 30px;
    width: 86px;
    height: 24px;
    color: black;
    font-size: 10px;
}